<!DOCTYPE html>
<html ng-app='sensorList' ng-controller="CountCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="vendor/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="js/lb-services.js"></script>
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src='js/when-scrolled.js'></script>
    <script type="text/javascript" src='js/app.js'></script>
    <script type="text/javascript" src='js/controllers.js'></script>
    <title>({{count.NOK + count.Missing}})SimpleSensor</title>
  </head>
  <body>
    <div>
      <nav class="barnav navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class='collapse navbar-collapse navbar-left' id="navbar-collapse-1">
            <ul class="nav navbar-nav ">
              <li class="navimenu">
                <a ui-sref='index' ui-sref-opts="{reload: true, inherit: false}">
                  Sensors
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="navimenu">
                <a ui-sref="events" ui-sref-opts="{reload: true}">
                Events
                </a>
              </li>
              <li class="hidden-xs">
                <a ui-sref="events({date: highDate})" ui-sref-opts="{reload: true}">
                  <span ng-show='showEvents' class='newsFlash' ng-model='newEvents'>{{newEvents}} {{eventTime | date: 'HH:mm'}}</span>
                </a>
              </li>
              <li ng-show='socketAlert' class='navbar-text'>
                <span>Real time update is not available</span>
              </li>
            </ul>
          </div>
          <div class='hidden-xs navbar-header navbar-right'>
            <ul class="nav navbar-nav navimenu">
              <li class='navbar-form' data-ng-show="$state.includes('index')">
                <input type="text" ng-model='searchText' ng-change='search()' role='search' placeholder="Search">
              </li>
              <li class='navbar-text' ui-sref="index({status: ['OK']})" ui-sref-opts="{reload: true}">
                <p class='h4 text-success'>OK 
                  <span>
                    <strong class='h4 text-success'>{{count.OK}}</strong>
                  </span>
                </p>
              </li>
              <li class='navbar-text' ui-sref="index({status: ['NOK', 'Missing']})" ui-sref-opts="{reload: true}">
                <p class='h4 text-danger'>NOK 
                  <span>
                    <strong class='h4 text-danger'>{{count.NOK + count.Missing}}</strong>
                  </span>
                </p>
              </li>
              <li class='navbar-text' ui-sref="index({status: ['OFF']})" ui-sref-opts="{reload: true}">
                <p class='h4 text-warning'>OFF 
                  <span>
                    <strong class='h4 text-warning'>{{count.OFF}}</strong>
                  </span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container" ui-view></div>
    </div>
  </body>
</html>


