.barnav{
	background-color: #C0C0C0;
}

.navtext{
	color: #3B5EA9 !important;
}

li.navbar-text{
	margin-top: 5px;
	margin-bottom: 0px;
}

.decal{
	margin-left: 10%;
}
#since{
	float: right;
	margin-top: -5em;
}
#barretitre{
	width: 100px;
}

.navalign{
	margin-top: -47px;
	margin-left: 30px !important;
	display: inline-block;
}

.fm{
	margin-left: 10%;
	width: 80%;
}

.navimenu > a:hover {
	background-color: black !important;
	color: white !important;
}

div[ui-sref] {
	cursor: pointer;
}

div.panel {
	margin-left: 2%;
}

div.panel:hover {
	border-color: blue;
}

#scrolling {
    overflow: auto;
    height: 755px;
}

#newsFlash {
	color: yellow;
}

#spinLoader {
	margin-left: 10em;
}

#scroller {
    overflow: auto;
    height: 735px;
}

#spinLoad {
	margin-left: 10em;
}



