<h1>Ajouter une sonde</h1>
<div ng-form='formAdd' class='fa'>
	<div class="form-group">
   		<label for="id">ID</label>
    	<input type="text" class="form-control" ng-model='sensor.id'>
  	</div>
  	<div class="form-group">
  	  <label for="name">Nom</label>
  	  <input type="text" class="form-control" ng-model='sensor.name'>
  	</div>
  	<!--
    <div class="form-group">
  	  <label for="status">Etat</label>
  	   <select id="etat" class="form-control" ng-model='Edit.sensor.status'>
      <option ng-class="{'selected': sensor.status == 'Up'}" value="Up">Up</option>
      <option ng-class="{'selected': sensor.status == 'Down'}" value="Down">Down</option>
      <option ng-class="{'selected': sensor.status == 'Flapping'}" value="Flapping">Flapping</option>
      <option ng-class="{'selected': sensor.status == 'Missing'}" value="Missing">Missing</option>
    </select>
  	</div>
    -->
  	<div class="form-group">
  	  <label for="createdAt">Date de création</label>
  	  <input type="date" class="form-control" ng-model='sensor.createdAt'>
  	</div>
  	<a type="button" ng-click='newSensor()' class="decal btn btn-success">
  		<span class='glyphicon glyphicon-ok' aria-hidden='true' title='Valider'></span>
  	</a>
  	<a type="button" ui-sref='list' class="btn btn-danger">
  		<span class='glyphicon glyphicon-stop' aria-hidden='true' title='Annuler'></span>
  	</a>
</div>