<div ng-controller='EditCtrl as Edit'>
  <h1>Consultation de la sonde
    <a type="button" ui-sref='sensorEdit({id: Edit.sensor.id})' class="btn btn-warning">
      <span class='glyphicon glyphicon-pencil' aria-hidden='true' title='Modifier'></span>
    </a>
  </h1>
  <div>
    <label>ID : {{Edit.sensor.id}}</label>
    <br/>
   	<label>Key</label>
    <p>{{Edit.sensor.key}}</p>
  </div>
  <div>
    <label>Nom</label>
    <p>{{Edit.sensor.name}}</p>
  </div>
  <div>
    <label>Etat</label>
    <p>{{Edit.sensor.status}}</p>
  </div>
  <div>
    <label>Date de création</label>
    <p>{{Edit.sensor.createdAt | date:"yyyy-MM-dd HH:mm:ss"}}</p>
  </div>
  <div>
    <label>Date de dernière modification</label>
    <p>{{Edit.sensor.modifiedAt | date: "yyyy-MM-dd HH:mm:ss"}}</p>
  </div>
  <div>
    <label>Commentaires</label>
    <p>{{Edit.sensor.comments}}</p>
  </div>
  <div>
    <label>Historique</label>
    <p ng-repeat='Lines in sensor.history | orderBy: "lastmodif":true'>
      <label ng-class="{'OK': 'label label-success', 'NOK': 'label label-danger', 'Missing': 'label label-danger', 'Flapping': 'label label-warning'}[sensor.status]" class='label label-default'> 
        {{Lines.status}}
      </label>
      <span>{{Lines.lastmodif | date:"yyyy-MM-dd HH:mm:ss"}}</span>
    </p>
  </div>
</div>