<div>
  <h1>Informations about {{sensor.key}}
    <a type="button" ui-sref='sensorEdit({id: sensor.id})' class="btn btn-warning">
      <span class='glyphicon glyphicon-pencil' aria-hidden='true' title='Modifier'></span>
    </a>
  </h1>
  <div class="form-group">
    <label>ID : {{sensor.id}}</label>
    <br/>
   	<label>Key</label>
    <p>{{sensor.key}}</p>
  </div>
   <div class="form-group">
    <label>Name</label>
    <p>{{sensor.name}}</p>
  </div>
   <div class="form-group">
    <label>Current status</label>
    <p>{{sensor.status}}</p>
  </div>
   <div class="form-group">
    <label>Created</label>
    <p>{{sensor.createdAt | date:"HH:mm:ss (dd-MM-yyyy)"}}</p>
  </div>
   <div class="form-group">
    <label>Last modification date</label>
    <p>{{sensor.modifiedAt | date: "HH:mm:ss (dd-MM-yyyy)"}}</p>
  </div>
   <div class="form-group">
    <label>History</label>
    <p ng-repeat='events in sensor.events | orderBy: "loggedAt":true'>
      <span ng-class="{'OK': 'label label-success', 'NOK': 'label label-danger', 'Missing': 'label label-danger', 'Flapping': 'label label-warning'}[events.status]" class='label label-default'>
	     {{events.status}}
      </span>
      <span>{{events.loggedAt | date:"@ HH:mm:ss (dd-MM-yyyy)"}}</span>
    </p>
  </div>
</div>