<div ng-controller='ListCtrl as List'>
  <h1>Sondes en défaut</h1>
  <div class='row'>
    <div class="col-lg-2 col-md-4 col-sm-6" ng-repeat='sensor in sensors | filter: searchText'>
      <div ui-sref='consult({id: sensor.id})' class="panel panel-danger">
        <div class='panel-heading'>
          {{sensor.key}} <span class="label label-danger pull-right">{{sensor.status}}</span>
        </div>
        <div class='panel-body'>
          <p>ID : {{sensor.id}} <br/> Nom : {{sensor.name}}</p>
        </div>
        <div class='panel-footer'>
          Depuis : {{sensor.checkedAt | date:'short'}}
        </div>
      </div>    
    </div>
  </div>
  <div class='row'>
    <div ng-repeat='sensor in sensors | filter: searchText' class="col-lg-2 col-md-4 col-sm-6">
      <div ui-sref='consult({id: sensor.id})' class="panel panel-danger">
        <div class='panel-heading'>
          {{sensor.key}} <span class="label label-danger pull-right">{{sensor.status}}</span>
        </div>
        <div class='panel-body'>
          <p>ID : {{sensor.id}} <br/> Nom : {{sensor.name}}</p>
        </div>
        <div class='panel-footer'>
          Depuis : {{sensor.checkedAt | date:'short'}}
        </div>
      </div>
    </div>
  </div>
</div>



