<div>
  <div class='pull-right'>
    <label>Created</label>
    <p>{{sensor.createdAt | date:"HH:mm:ss (dd-MM-yyyy)"}}</p>
    <label>Last modification</label>
    <p>{{sensor.modifiedAt | date: "HH:mm:ss (dd-MM-yyyy)"}}</p>
  </div>
  <h2>Change {{sensor.key}} informations</h2>
  <div ng-form='formMod' class='fm'>
    <div class="form-group">
      <label for="id">ID : {{sensor.id}}</label>
      <br/>
   	  <label for="key">Key</label>
      <input type="text" class="form-control" id='key' ng-model='sensor.key' readonly>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id='name' ng-model='sensor.name'>
    </div>
    <div class="form-group">
      <label for="status">Current status</label>
      <input type='text' id="status" class="form-control" ng-model='sensor.status' readonly>
    </div>
    <div class="form-group">
      <label for="mailNotif">Send mail notifications</label>
      <input type="checkbox" id="mailNotif" ng-model="sensor.mailNotif">
    </div>
    <div class="form-group">
      <label for="frequency">Polling frequency</label>
      <input type='number' id='frequency' ng-model='sensor.frequency'>
    </div>
    <div class="form-group">
      <label for="lag">Expected lag</label>
      <input type='number' id='lag' ng-model='sensor.lag'>
    </div>
    <div class="form-group">
      <label for="isMonitored">Enable monitoring</label>
      <input type='checkbox' id='isMonitored' ng-model='isMonitored'>
    </div>
    <a type="button" ng-click='SaveMod()' ui-sref='index' class="btn btn-success">
      <span class='glyphicon glyphicon-ok' aria-hidden='true' title='Confirm'></span>
    </a>
    <a type="button" ui-sref='index' class="btn btn-info">
      <span class='glyphicon glyphicon-stop' aria-hidden='true' title='Cancel'></span>
    </a>
    <a type="button" data-toggle='modal' class="pull-right btn btn-danger" data-target="#delModal">
      <span class='glyphicon glyphicon-trash' aria-hidden='true' title='Delete'></span>
    </a>
  </div>
</div>
<div class='modal fade' id="delModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true" >
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class='modal-header'>
          <h3 class='modal-title'>
            Delete {{sensor.key}} ?
          </h3>
        </div>
        <div class='modal-body'>
          <p>Are you sur you want to delete {{sensor.key}}?</p>  
          <p>All related events and outages will be deleted too</p>
        </div>
        <div class='modal-footer'>
          <button ng-click='deleteSensor()' class="btn btn-danger">Confirm</button>
          <button class="btn btn-info" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
