<div ng-controller="ListCtrl" id="searchTextResults">
  <h1>Sondes</h1>
  <div class='row' id="scroller" when-scrolled='moreSensors()'>
    <div class="col-lg-3 col-md-6 col-sm-12" ng-repeat='sensor in sensors | filter: searchText'>
      <div ui-sref='consult({id: sensor.id})' ng-class="{'OK': 'panel panel-success', 'NOK': 'panel panel-danger', 'Missing': 'panel panel-danger', 'Flapping': 'panel panel-warning'}[sensor.status]" class='panel panel-default'>
        <div class='panel-heading'>
          {{sensor.key}} <span ng-class="{'OK': 'label label-success pull-right', 'NOK': 'label label-danger pull-right', 'Missing': 'label label-danger pull-right', 'Flapping': 'label label-warning pull-right'}[sensor.status]" class='label label-default pull-right'>{{sensor.status}}</span>
        </div>
        <div class='panel-body'>
          <p>ID : {{sensor.id}} <br/> Nom : {{sensor.name}}</p>
        </div>
        <div class='panel-footer'>
          Check @ {{sensor.checkedAt | date: 'HH:mm:ss (dd/MM/yy)'}}
        </div>
      </div>
    </div>
    <img id='spinLoad' src="assets/loading.gif" ng-show="loading">
  </div>
</div>